<!DOCTYPE html>
<html>
<head>
<title>Fab City</title>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,900,300">
<style type="text/css">
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: #231F20;
    text-align: center;
    color: #aaa;
    font-family: Lato;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 30px;
  }
  #logo {
    margin: 40px auto 20px;
    display: block;
    max-width: 90%;
  }
</style>
</head>
<body>
<%= image_tag "fabcity.png", id: 'logo' %>
LAUNCHING SOON
</body>
</html>
