<div id="map" style="width: 100%; height: 100%; position: absolute"></div>
<%= link_to map_path, class: 'button map' do %><%= fa_icon "map" %><% end %>
<%= link_to globe_path, class: 'button globe' do %><%= fa_icon "globe" %><% end %>

