/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require normalize-rails
*= require_tree .
*= require_self
*/

body {
  background: #c4d1d1;
}
* {
  font-family: Lato;
}
.holy-grail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.holy-grail-body {
  display: flex;
  flex: 1;
}
.holy-grail-content {
  flex: 1;
  background: #ffc94e;
}
.holy-grail-nav, .holy-grail-sidebar {
  /* 12em is the width of the columns */
  flex: 0 0 20em;
  background: #eee;
}
.holy-grail-nav {
  /* put the nav on the left */
  order: -1;
  background: #85d6e4;
}
header, footer
{
  background: #222;
  color: #eee;
}
.countdown {
  float: left;
  font-size: 1.3em;
}
.countdown div {
  display: inline;
  margin-left: 10px;
}
footer ul li {
  width: 33%;
  float: left;
  display: block;
}
footer li img {
  width: 60%;
  margin: 5px 20%;
}
aside li {
  font-size: 2em;
  list-style: none;
  line-height: 1.4em;
  font-weight: bold;
}
aside {
  background: #ddd !important;
}