// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 100%;
  background: #051321;
}
#earth_div {
  span {
  color: darken(#E3183C, 30%) !important;
}
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  top: 0; right: 0; bottom: 0; left: 0;
background-color: #000; position: absolute !important;}

.we-pp-wrapper {
  font-size: 0.8em;
  background: #E3183C !important;
  box-shadow: none !important;
  color: #FFF !important;
  border-radius: 8px !important;
  b {
    color: #111 !important;
    font-size: 1.4em !important;
  }
}
.we-pp-tip {
  background: #E3183C !important;
}
.we-pp-content {
  margin: 5px 10px !important;
}
.we-pp-close {
  display: none !important;
}
.we-pm-icon {
  pointer-events: none;
}
.we-pp {
  pointer-events: none;
}
