// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overlay {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 10000;
  text-align: center;
  padding-top: 20px;
  background: yellow image-url('button.png') center center no-repeat;
  display: none;
}
#map {
  height: 100%;
  background: #051321;
}
#earth_div {
  span {
  color: darken(#E3183C, 30%) !important;
}
span {
  color: #000 !important;
}
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  top: 0; right: 0; bottom: 0; left: 0;
  // background-color: #000;
  background: #000 url(http://api.ning.com/files/mcK-mv3mgQU7b*vqNKN333coxqiXS5C0jKXjHvR-4uVTyfI*6ersXCQ4fiH46n7yyxeMpL549itUZC*OoWUp8IEG5UvxAiac/stars.jpg?width=737&height=304);
  position: absolute !important;}

.we-pp-wrapper {
  border-left: 1px solid rgba(black, 0.1);
  border-top: 1px solid rgba(black, 0.1);
  border-right: 1px solid rgba(black, 0.1);
  font-size: 0.8em;
  background: rgba(#E3183C,0.85) !important;
  box-shadow: none !important;
  color: #FFF !important;
  border-radius: 8px !important;
  b {
    color: #111 !important;
    font-size: 1.4em !important;
  }
}
.we-pp-tip {
  background: rgba(#E3183C,0.85) !important;
}
.we-pp-content {
  margin: 5px 10px !important;
}
.we-pp-close {
  display: none !important;
}

// .we-pm-icon {
//   pointer-events: none;
// }
// .we-pp {
//   pointer-events: none;
// }

#legend {
  background: rgba(#111, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: #F0F0F0;
  font-size: 13px;
}

.we-pp:nth-child(1) {
  background: green !important;
}